.dice-container{
    margin: 5%;
}
@keyframes rolling{
    
  0% {transform: rotateX(20deg) rotateY(50deg) rotateZ(10deg);}
  50% {transform:  rotateX(120deg) rotateY(150deg) rotateZ(110deg);}
  100%  {transform:  rotateX(0deg) rotateY(0deg) rotateZ(0deg);}
}
.dice{
    color:  white;
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    margin: auto;
    /* animation: rolling 2s infinite; */
    position: relative;
     animation-iteration-count: 1;
}

.dice-animation{
    animation: rolling 2s forwards;
}

.dice-side{
    display: block;
    padding: 30%;
    
}

.roll-dice-button{
    margin: 5%;
}
